.block {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.block a {
    width: 250px;
}

.block p {
    flex: 1;
    margin: 0;
}

.active a {
    color: green;
    font-weight: 600;
    text-decoration: underline;
}
