.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
  gap: 20px;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.header {
  grid-area: header;
  background-color: #e1e7e0;
}
.sidebar {
  grid-area: sidebar;
  background-color: #ebe6e8;
}

.main {
  grid-area: main;
}

